table {
	border-collapse:collapse;
}
table,th, td {
	border: 1px solid gray;
}

tr:nth-child(even) {
	background: #CCC
}

tr:nth-child(odd) {
	background: #FFF
}

tr.newRow {
	background: yellow;
}

td.sel {
	background: red;
}

.actions {
	background: white;
}

#editor {
	position:fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 10px;
	background: gray;
}

#editor textarea {
	width: 400px;
	height: 30px;
	vertical-align: top;
}

#msgBox {
	display:none;
	position:fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 10px;
	background: yellow;
	text-align: center;
}